$background-color: #0275d8;
$color: #fff;

.container {
    width: 90%;
    background-color: $background-color;
    margin: {
        top: 0px;
        bottom: 0px;
        right: auto;
        left: auto;
    }
    display: grid;
    grid-template-columns: 2fr 5fr .5fr 2fr;
        
}
    
    
