.description {
    width: 85%;
    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }
    p {
        text-align: justify;
    }
}