.flexy {
  display: flex;
}

.card-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.card-image {
  width: 100%;
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
  }
  &:hover .card-actions {
    transform: translateY(0);
  }
}

.card-text {
  display: flex;
  flex-flow: column;
  align-items: center;
  .people-link {
    text-decoration: none;
    &:visited {
      color: rgb(231, 208, 165);
    }

    h3 {
      font-size: 1.25rem;
    }
  }
}

.link-button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  &:hover {
    opacity: 0.7;
  }
}

.card-actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background: rgba(0, 0, 0, 0.6);
  transform: translateY(100%);
  transition: all 0.3s linear;
  img {
    width: 50px;
  }
}

.action-button {
  background: none;
  width: 25px;
}
